.customer-page {
	background: linear-gradient(-50deg, #000, #2b3337);

	.content {
		flex-direction: column;
		padding: 10px 0 0;
		background: transparent;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		p {
			font-size: 15px;
			text-align: center;
			color: #565656;
			margin-top: 5px;
		}

		.customers {
			margin-bottom: 10px;
			perspective: 50rem;
			padding: 0 20px;
		}

		.customer {
			background: #333;
			overflow: hidden;
			position: relative;
			border-radius: 4px;
			height: 150px;
			transform: perspective(50em) rotateX(-10deg);
			box-shadow: 0 -2px 10px rgba(0, 0, 0, 1), 0 -2px 0 rgba(219, 219, 219, 1);

			&:not(:first-child) {
				margin-top: -20px;
			}

			&:last-child {
				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					height: 1px;
					border-bottom: 1px solid rgb(84, 84, 84);
					width: 110%;
					left: 50%;
					transform: translateX(-50%);
					box-shadow: 0 2px 10px rgba(0,0,0,1);
				}
			}

			.image {
				height: 100%;
				background-size: cover;
				background-position: 50%;
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
				overflow: hidden;
			}

			.details {
				padding: 10px;
				background: rgba(0, 0, 0, .45);
				color: #fff;
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				h3 {
					font-style: italic;
					font-size: 23px;
					text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
					text-align: center;
					margin-top: -20px;
					margin-bottom: 20px;
				}

				.region {
					font-weight: 400;
					margin-top: -5px;
				}
			}
		}
	}
}
