.profile_page {
	background: $background;

	mobile-header {
		background: 0 0;
		position: absolute;

		.icon {
			top: 30px;
		}

		.title {
			color: white;
		}

		.colorbg {
			background: #242b2e;
			opacity: 0;
		}
	}

	.content {
		padding-top: 70px;
		flex-direction: column;
		background: #22282b;

		.scroller {
			position: absolute;
			z-index: 1;
			width: 100%;
			transform: translateZ(0);
			user-select: none;
			text-size-adjust: none;
			display: flex;
			flex-direction: column;
			background: #22282b;
			padding-bottom: 70px;
		}

		.bg-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			opacity: 0.8;
			z-index: 99;
			background-position: center center;
			background: linear-gradient(-50deg, #000, #2a2e31);
		}

		.edit-photo {
			position: absolute;
			bottom: 0;
		}
	}

	.options {
		background: #22282b;
		display: flex;
		flex: 1;
		flex-direction: column;

		.tabbar {
			width: 100%;
			border-radius: 0;
			border: 0 solid #848c8e;
			position: relative;
			z-index: 10;
			display: flex;
			align-items: stretch;
			max-height: 40px;
			flex-shrink: 0;
			min-height: 40px;
			background: white;
			margin: 0 0 20px;
			background: #191d1f;

			.tabbar__tab {
				color: #848c8e;
				font-size: 15px;
				border-radius: 0!important;
				background: transparent;

				&.active {
					color: white;
					background: #5e6f78;
				}
			}
		}

		.tab__content {
			position: relative;

			> .spinner {
				top: 50%;
				left: 20px;
			}

			> h2 {
				color: white;
				padding-left: 10px;
			}

			ul + h2 {
				padding-top: 5px;
			}

			ul {
				margin: 0;
				padding: 0;
				background: #2b3337;
				width: 100%;
				border-bottom: 1px solid #465359;
				border-top: 1px solid #465359;

				li {
					list-style: none;
					padding: 15px 0;
					margin-left: 10px;
					font-size: 14px;
					display: flex;
					align-items: center;
					color: white;
					font-weight: 400;
					border-bottom: 1px solid #465359;
					background: #2b3337;

					.points {
						margin-right: 10px;
						width: 50px;
						text-align: center;
						.pts {
							font-size: 17px;
							font-weight:600;
							i {
								font-size:12px;
								font-weight:100;
							}
						}
						> div {
							font-size:13px;
						}
					}

					&.spacer {
						border: none;
						background: #22282b;
						border-bottom: 1px solid #465359;
						border-top: 1px solid #465359;
						margin-left: 0;

						&:after {
							content: "";
						}
					}

					&:after {
						content: "\f054";
						font-family: FontAwesome;
						font-size: 12px;
						color: #d1d1d1;
						margin-left: auto;
						margin-right: 10px;
					}

					&.no-border {
						border-bottom: 0;
					}

					&.no-arrow {
						&:after{
							content:"";
						}
					}
				}
			}
		}
	}

	.header {
		margin: -70px auto 0;
		padding-top: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 100;
		flex-shrink: 0;
		padding-bottom: 10px;
		background: $background;

		profile-image {
			margin-bottom: 10px;
		}

		h2 {
			color: #fff;
			text-align: center;
			font-size: 30px;
			font-style: italic;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 0;
		}

		h4 {
			font-weight: 400;
			color: #ababab;
			text-align: center;
			font-size: 12px;
			margin-top: 5px;
			text-transform: uppercase;
		}

		.systemButton {
			background: white;

			&.edit {
				background: linear-gradient(0deg, #8a8a8a, #fff);
				box-shadow: 0 4px 10px rgba(0, 0, 0, .7);
				color: #000!important;
				font-weight: bold;
			}

			&.logout {
				position: absolute;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
				background: linear-gradient(0deg, #8a8a8a, #fff);
				box-shadow: 0 4px 10px rgba(0, 0, 0, .7);
				color: #000!important;
				font-weight: bold;
			}
		}
	}
}
