
.location-chooser{
    @include clearfix();
    padding  : 10px;
    position : relative;
    .content-loader {
        top   : 30%;
        right : 5%;
    }
    .icon {
        width  : 40px;
        height : 40px;
        float  : left;
        img {
            height : 100%;
        }
    }
    .plus-icon {
        display  : none;
        position : absolute;
        right    : 15px;
        top: 5px;
        background    : $app-highlight;
        border-radius : 50%;
        width         : 40px;
        height        : 40px;
        i {
            color: $app-brown;
            line-height: 42px;
            font-size: 20px;
            width: 100%;
            text-align: center;
        }
    }
    .location-title {
        font-family: prelo_semiboldsemibold;
        font-size: 20px;
        width: calc(100% - 130px);
        line-height: 20px;
        margin-left: 10px;
        position: relative;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);
        .swiper-container{
            width: 100%;
        }
    }
    .tip {
        font-family : prelo_lightlight;
        font-size   : 14px;
        margin      : 20px 0 0;
        text-align  : left;
        width       : 100%;
        @include iPhone5() { font-size : 13px; }
        span {
            font-family : "harabarabold";
            font-size   : 14px;
        }
    }

    .address-modal {
        opacity        : 0;
        transform      : scale(0, 0);
        pointer-events : none;
        width          : 100%;
        position       : absolute;
        top            : 0px;
        left           : 0;
        background     : #2b2b2b;
        padding: 0 10px 10px 10px;
        z-index:10000;
        &.jelly-animation {
            pointer-events: all;
        }
        span {
            font-family : "prelo_semiboldsemibold";
            font-size   : 12px;
            display     : block;
        }
        input {
            width : calc(100% - 50px);
            background: #626262;
            border-radius: 0;
            -webkit-appearance: none;
            border: none;
            color:#fff;
            padding:10px 10px;
            outline:none;
        }
        .saveAddress {
            background    : $app-highlight;
            border-radius : 50%;
            width         : 40px;
            height        : 40px;
            padding       : 5px;
            float         : right;
            line-height   : 40px;
            i {
                color     : $app-brown;
                font-size : 25px;
            }
        }
    }
}
