.tabbar {
	width: calc(100% - 20px);
	margin: 10px;
	border: 1px solid #848c8e;
	border-radius: 5px;
	position: relative;
	z-index: 10;
	display: flex;
	align-items: stretch;
	@include clearfix();

	.tabbar__tab {
		text-align: center;
		padding: 5px 10px;
		font-size: 3.4vw;
		display: flex;
		align-items: center;
		align-self: stretch;
		justify-content: center;
		flex: 1;
		color: rgba(255,255,255,.8);
		font-weight: 400;

		&:last-child {
			border-right: 0;
		}

		&.active {
			color: white;
			background: #848C8E;
			font-weight: 700;

			&:first-child {
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
			}

			&:last-child {
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
			}
		}

		&:nth-last-child(3):first-child,
		&:nth-last-child(3):first-child ~ .tabbar__tab {
			width: calc(100% / 3);
		}
	}
}

.tab__content {
	display: none;

	&.active {
		display: block;
	}
}
