.off-screen-wrapper {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 800, 0, 1);
	background: rgba(0,0,0,.3);
	z-index: 1000;
}
.user-assistant {
	background: #282828;
	border-radius: 6px;
	width: 90vw;
	max-width: 250px;
	max-height: 70vh;
	padding: 20px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50.1%, -50%);
	&.small {
		max-width: 200px;
	}
	.header {
		width: 100%;
		img {
			width: 50%;
			max-width: 110px;
			display: block;
			margin: -40px auto 0;
		}
	}
	.slides {
		width: 100%;
		overflow: hidden;
		height: 100%;
		.slide {
			.title {
				margin-top: 10px;
				font-family: "harabarabold";
				font-size: 22px;
				font-weight: 100;
				letter-spacing: 1px;
				text-align: center;
				width: 100%;
				margin-bottom: 0;
				color: $app-highlight;
			}
			.message {
				font-family: "prelo_semiboldsemibold";
				font-size: 14px;
				text-align: center;
				width: 100%;
				margin-bottom: 0;
				color: white;
				max-height: 185px;
				@include iPhone5() {
					max-height: 155px;
				};
				overflow-y: auto;
				margin: 10px 0;
				-webkit-overflow-scrolling: touch;
			}
			.button_holder {
				display: flex;
				justify-content: center;
				button {
					background: #f7bd21;
					color: #533406;
					padding: 7px 10px;
					margin-right: 5px;
					display: block;
					border-radius: 4px;
					flex: 1;
					text-align: center;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}
