.login_page {
	background: $background;

	mobile-header {
		background: transparent;

		.title {
			color: white;
		}
	}

	.content {
		flex-direction: column;
		padding: 0;
		background: transparent;

		.login-form {
			z-index: 100;
			width: 70%;
			color: #fff;
			text-align: center;
			flex-direction: column;
			align-items: center;

			.systemButton {
				color: #333;
				position: relative;
				margin:0 auto;

				.spinner {
					display: none;
					top: 25%;
					left: 45%;
				}

				&.active {
					text-indent: -9999px;

					.spinner {
						display: block;
					}
				}
			}

			h2 {
				font-style: italic;
				font-size: 25px;
				margin-top: 0;
				margin-bottom: 10px;
			}

			.field {
				margin-bottom: 10px;
				width: 100%;
				@include mini() {
					margin-bottom: 0;
				};

				input {
					width: 100%;
					border: none;
					padding: 10px;
					background: transparent;
					border-bottom: 2px solid rgb(58, 58, 58);
					border-radius: 0;
					font-size: 15px;
					text-align: center;
					color: white;
				}
			}

			.birthday + span {
				margin-top: -10px;
				@include small-device() {
					margin-top: 0;
				};
			}
		}

		.form {
			padding: 20px;
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			img {
				width: 80%;
				margin-bottom: 20px;
				position: relative;
				margin-top: 50px;
				@include android() {
					display: block;
				};
				@include mini() {
					display: block;
					margin-top: 0;
				};
			}

			.forgot-password-modal {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transform: translateY(100%);
				transition: transform 0.3s ease-out;
				z-index: 10000;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background: linear-gradient(310deg, #000, #272b2e);
				display: flex;
				@include mini() {
					padding: 20px;
				};

				.back {
					position: absolute;
					top: 20px;
					left: 20px;
					color: white;
				}

				&.active {
					transform: translateY(0%);
				}

				.systemButton {
					color: #333;
					position: relative;

					.spinner {
						display: none;
						top: 25%;
						left: 45%;
					}

					&.active {
						text-indent: -9999px;

						.spinner {
							display: block;
						}
					}
				}

				h2 {
					font-size: 20px;
					margin-top: 0;
					margin-bottom: 10px;
					color: white;
					font-size: 30px;
					text-align: center;
				}

				.field {
					margin-bottom: 10px;
					@include small-device() {
						margin-bottom: 0;
					};
					width: 60%;

					&.birthday {
						display: flex;
						align-items: center;
						color: #ccc;

						input {
							flex: 1;
						}
					}

					input {
						width: 100%;
						border: none;
						padding: 10px;
						background: transparent;
						border-bottom: 2px solid rgb(58, 58, 58);
						border-radius: 0;
						font-size: 15px;
						text-align: center;
						color: white;
					}
				}
			}

			.systemButton {
				background: white;
				padding: 10px 20px;
				border-radius: 4px;
				font-size: 18px;
				font-weight: 600;
				margin: 10px auto;
				width: 60%;
				text-align: center;
			}

			.terms {
				color: #6e6e6e;
				font-size: 12px;
				text-align: center;
			}
		}
	}
}
