.profile_edit_page {
	background: linear-gradient(-50deg, #000, #2a2e31);

	mobile-header {
		background: 0 0;
		position: absolute;

		.title {
			color: white;
		}
	}

	.profile-image-holder.portrait {
		width: 110px;
		height: 110px;
		@include small-device() {
			height: 90px;
			width: 90px;
		};
	}

	.save-profile {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		font-weight: bold;
		padding: 5px 20px;
		background: linear-gradient(0deg, #8a8a8a, #fff);
		box-shadow: 0 4px 10px rgba(0, 0, 0, .7);
		color: #000!important;
	}

	.systemButton {
		.spinner {
			display: none;
			top: 15%;
			left: 38%;
			border-left: 4px solid hsla(0, 0%, 52%, .15);
			border-right: 4px solid hsla(0, 0%, 52%, 0.15);
			border-bottom: 4px solid hsla(0, 0%, 52%, 0.15);
			border-top: 4px solid hsla(0, 0%, 27%, 0.9);
		}

		&.active {
			text-indent: -9999px;

			.spinner {
				display: block;
			}
		}
	}

	.content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: transparent;

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		> div {
			margin-bottom: 10px;
		}

		.inputfile {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		.inputfile + label {
			font-size: 1.25em;
			font-weight: 700;
			color: #000;
			background: white;
			padding: 5px 10px;
			border-radius: 40px;
			display: inline-block;
			@include small-device() {
				font-size: 1em;
			};
		}

		.inputfile + label:hover,
		.inputfile:focus + label {}

		span {
			color: #8e8e8e;
			padding: 0 80px;
			font-size: 10px;
			text-align: center;
			margin-top: -20px;
			line-height: 11px;
			@include small-device() {
				padding: 0 40px;				
				margin-top: -15px;
			};
		}

		button {
			background: linear-gradient(0deg, #8a8a8a, #fff);
			box-shadow: 0 4px 10px rgba(0, 0, 0, .7);
			color: #333!important;
			font-weight: 400;
		}

		.change_profile_picture {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			profile-image {
				margin-bottom: 10px;
			}
		}

		.field {
			margin-bottom: 10px;
			width: 60%;
			@include small-device() {
				margin-bottom: 5px;
			};

			&.birthday {
				display: flex;
				align-items: center;
				color: white;
				width: 60%;
				padding: 0 10px 10px;

				input {
					flex: 1;
				}
			}

			input {
				width: 100%;
				border: none;
				padding: 10px;
				background: transparent;
				border-bottom: 2px solid rgb(58, 58, 58);
				border-radius: 0;
				font-size: 15px;
				text-align: center;
				color: white;
			}
		}
	}
}
