mobile-view {
	background: #2a2b2a;
	display: flex;
	flex:1;
	height:100%;
	flex-direction: column;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	-webkit-user-select:none;
	* {
		-webkit-user-select:none;
	}
	input,
	textarea {
		-webkit-user-select: auto !important;
		user-select: auto !important;
	}

	&.active {
		display: block;
	}
	.wrap {
		min-height: 100%;
		padding-bottom: 1px;
		transform: translateZ(0);
	}
	.content {
		display: flex;
		position:relative;
		flex: 1;
		padding: 0;
		overflow: hidden;
		color: #333;
		background-color:#222;
		transform: translateZ(0);
		> .title {
			font-family: "harabarabold";
			color: white;
			font-size: 20px;
			line-height: 24px;
			margin-top: 10px;
			font-weight: 100;
			letter-spacing: 1px;
			margin-bottom: 10px;
			padding: 0 10px;
		}
		> .description {
			font-family: "prelo_lightlight";
			color: white;
			font-size: 15px;
			margin-bottom: 10px;
			padding: 0 10px;
			font-weight: 100;
		}
	}

	.continueBtn {
		background: #313131;
		text-align: center;
		padding: 10px;
		display: none;
		.continue {
			color: $app-highlight;
			font-family: "harabarabold";
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 20px;
		}
		.step-count {
			color: #b2b2b2;
			font-size: 14px;
		}
	}
	.tip {
		font-family: prelo_lightlight;
		font-size: 14px;
		span {
			font-family: "harabarabold";
			font-size: 14px;
			letter-spacing: 1px;
		}
		width: 70%;
		text-align: center;
		margin: 5px auto;
	}
	&[type='overlay'] {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 100;
	}
}
