mobile-header {
	width: 100%;
	height: 50px;
	position: relative;
	z-index: 100000;
	background: transparent;

	&.no-shadow {
		box-shadow: none!important;
		border-bottom: 0!important;
	}

	.colorbg {
		width: 100%;
		height: 100%;
		position: absolute;
		background: transparent;
	}

	div.title {
		> * {
			pointer-events: none;
		}

		i {
			margin-left: 5px;
			margin-right: 10px;
		}
		cursor: pointer;
		position: absolute;
		bottom: 0;
		z-index: 1;
		font-size: 2.3em;
		font-weight: 700;
		height: 50px;
		line-height: 50px;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		left: 50%;
		transform: translateX(-50%);
		font-family: "Lato";
		font-style:italic;
		background: linear-gradient(#ececec, #8a8a8a);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		width: calc(100% - 100px);
	
		@include iPad() {
			line-height: 80px;
		};

		img {
			height: 60%;
			margin: 10px auto;
			display: block;
		}
	}

	.overlay & {
		z-index: 1000000;

		div.title {
			z-index: 2;
		}
	}

	.alt-menu {
		position: absolute;
		right: 0;
		top: 0;
		width: 40px;
		height: 50px;

		a.systemButton {
			&:active {
				background: rgba(255, 255, 255, 0.13);
			}
			height: 100%;

			img {
				position: absolute;
				left: 50%;
				transform: translate(-50%,-50%);
				height: 55%;
				top: 50%;
			}
		}
	}

	.backBtn {
		height: calc(100% - 20px);
		position: absolute;
		z-index: 100000000;
		padding-left: 25px;
		color: white;
		top: 20px;
		width: 75px;
		font-size: 20px;

		&:before {
			display: block;
			content: "";
			width: 30px;
			height: 20px;
			left: 10px;
			top: 50%;
			position: absolute;
			transform: translatey(-50%);
			background-image: url('../../../../img/back_arrow.png');
			background-size: contain;
			background-position: 0 center;
			background-repeat: no-repeat;
		}
	}

	.icon {
		position: absolute;
		right: 10px;
		width: 30px;
		height: 20px;

		img {
			width: 100%;
		}

		.counter {
			display: none;
			position: absolute;
			top: -13px;
			right: -9px;
			background: white;
			padding: 5px;
			border-radius: 100%;
			min-width: 24px;
			text-align: center;
			line-height: 10px;
			font-size: 12px;
			font-family: "prelo_semiboldsemibold";
			border: 2px solid #f7bd21;

			&.active {
				display: block;
			}
		}
	}

	&[no-back] {
		.backBtn {
			display: none;
		}
	}

	user-tip {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		color: white;
		font-size: 20px;
		display: flex;
		height: 100%;
		align-items: center;
		z-index: 2;

		&[data-menu="true"] {
			right: 45px;
		}
		@include iPhone() {
			top: 8px;
		}
	}
	@include iPhone() {
		height: 70px;
	}
	@include android() {
		.backBtn {
			line-height: 53px;

			&:before {
				line-height: 55px;
			}
		}
	}
}
