.program-page {
	background: #0c0c0c;

	mobile-header {
		.icon {
			top: 30px;
		}

		.title {
			color: white;
			opacity: 0;
		}

		.colorbg {
			background: #242b2e;
			opacity: 0;
		}
	}

	.join-program {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		border-radius: 0;
		padding: 10px;
		color: #fff !important;
		font-weight: 700;
		font-style: italic;
		font-size: 20px;
		background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
		margin: 0;
	}

	.content {
		flex-direction: column;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		height: calc(100% - 40px);
		width: 100%;
		background: #22282b;

		.scroller {
			position: absolute;
			z-index: 1;
			width: 100%;
			transform: translateZ(0);
			user-select: none;
			text-size-adjust: none;
			display: flex;
			flex-direction: column;
			ackground: #22282b;
		}

		&.enrolled {
			padding-bottom: 0;
			height: calc(100%);
		}

		.header {
			min-height: 45%;
			position: relative;
			background-size: cover;
			padding: 60px 40px 40px;
			margin-bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex: none;
			height: auto;
			overflow: hidden;
			flex-direction: column;

			.logo {
				width: 30%;
				position: relative;
				z-index: 2;
				margin-bottom: 10px;

				img {
					width: 100%;
				}
			}

			&:after {
				content: "";
				background: rgba(0, 0, 0, .6);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 0;
			}

			.details {
				position: relative;
				z-index: 4;
				text-align: center;
				color: white;

				h3 {
					font-style: italic;
					font-size: 23px;
					text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
					padding: 0 30px;
					@include small-device() {
						padding: 0;
					};
				}

				.address {
					font-weight: 400;
					margin-top: -5px;
				}

				.phone {
					margin-top: -5px;
					display: inline;
					padding: 5px 10px;
					border-radius: 50px;
					font-weight: 500;
					font-size: 13px;
					background: rgba(0, 0, 0, .4);
					color: white !important;
				}
			}
		}

		.bar-code {
			width: 50%;
			position: relative;
			z-index: 10;
		}

		.tabbar {
			margin: 0;
			width: 100%;
			border-radius: 0;
			background: #191d1f;
			border: 0;

			.tabbar__tab {
				color: #848c8e;
				font-size: 15px;
				padding: 10px;
				border-radius: 0!important;

				&.active {
					color: white;
					background: #5e6f78;
				}
			}
		}

		.tab__content {
			background: #22282b;

			&.active {
				display: flex;
				flex-direction: column;
			}
			flex: 1;
		}

		.leave-program {
			padding: 15px 10px;
			text-align: center;
			color: white;
			font-size: 17px;
			font-weight: 700;
			background: rgb(255, 88, 59);
			margin-top: auto;
		}

		.tab__content {
			h2 {
				color: #c0c0c0;
				padding: 10px 15px 0;
				font-size: 14px;
			}
		}

		.details-holder {
			margin: 0;
			padding: 0;
			background: #2b3337;
			width: 100%;
			border-bottom: 1px solid #323b3f;
			border-top: 1px solid #323b3f;

			a {
				&:not(:last-child) {
					li {
						border-bottom: 1px solid #3d484d;
					}
				}
			}

			li {
				list-style: none;
				padding: 20px 0;
				margin-left: 30px;
				font-size: 14px;
				display: flex;
				align-items: center;
				color: white;
				font-weight: 400;

				i {
					margin-left: -20px;
					margin-right: 10px;
					color: #6c7f88;
					font-size: 17px;
				}

				&.spacer {
					border: none;
					background: rgb(225, 225, 225);
					border-bottom: 1px solid #dfdfdf;
					border-top: 1px solid #dfdfdf;
					margin-left: 0;

					&:after {
						content: "";
					}
				}

				&:after {
					content: "\F054";
					font-family: FontAwesome;
					font-size: 15px;
					color: rgba(255, 255, 255, 0.24);
					margin-left: auto;
					margin-right: 10px;
				}
			}
		}

		.activity {
			padding: 10px;
			color: white;
			position: relative;
			z-index: 5;

			.activity-header {
				display: flex;
				padding: 0 5px;

				span {
					flex: 1;
				}

				h2 {
					padding: 10px 0 0;
				}
			}

			.activity-details {
				margin: 0 -10px;
				padding: 0;
				background: #2b3337;
				border-bottom: 1px solid #323b3f;
				border-top: 1px solid #323b3f;

				.option {
					list-style: none;
					padding: 10px 0;
					margin-left: 15px;
					font-size: 14px;
					display: flex;
					color: #fff;
					font-weight: 400;
					flex-direction: column;

					span {
						font-weight: 700;
						font-size: 20px;
					}

					.label {
						text-transform: uppercase;
						font-size: 12px;
						opacity: 0.7;
					}

					&:not(:last-child) {
						border-bottom: 1px solid #3d484d;
					}
				}
			}
		}

		.rewards {
			padding: 10px;
			color: white;
			position: relative;
			z-index: 5;

			.rewards-header {
				margin-top: -10px;
			}

			.reward {
				display: flex;
				padding: 0 10px;
				margin: 0 -10px;
				background: #2b3337;
				align-items: stretch;

				&.locked {
					.points {
						i {
							display: block;
						}
					}
				}

				.points {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					font-size: 20px;
					color: #bec1bf;

					.amt {
						display: flex;
						flex-direction: column;
						text-align: center;
						font-weight: 400;

						span {
							font-weight: 100;
							font-size: 11px;
						}
					}

					i {
						display: none;
						margin-right: 10px;
					}
				}

				.title {
					display: flex;
					align-items: center;
					flex: 1;
					padding: 20px 0;
					font-size: 15px;
					font-weight: 400;
					margin-left: 20px;
				}

				&:not(:last-child) {
					.title {
						border-bottom: 1px solid #3a454a;
					}
				}
			}
		}
	}
}
