.program-page {
	background: #0c0c0c;

	mobile-header {
		.icon {
			top: 30px;
		}
	}

	.join-program {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		border-radius: 0;
		padding: 10px;
		color: #fff !important;
		font-weight: 700;
		font-style: italic;
		font-size: 17px;
		background: #fca00d;
		margin: 0;
	}

	.content {
		flex-direction: column;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		height: calc(100% - 40px);
		width: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		background: rgb(235, 235, 235);

		&.enrolled {
			padding-bottom: 0;
			height: calc(100%);
		}

		.header {
			min-height: 45%;
			position: relative;
			background-size: cover;
			padding: 20px 40px 0;
			margin-bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex: none;
			height: auto;
			overflow: hidden;
			flex-direction: column;
			padding-bottom: 10px;

			.logo {
				width: 30%;
				position: relative;
				z-index: 2;
				margin-bottom: 10px;

				img {
					width: 100%;
				}
			}

			&:after {
				content: "";
				background: rgba(0, 0, 0, .6);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 0;
			}

			.details {
				position: relative;
				z-index: 4;
				text-align: center;
				color: white;

				h3 {
					font-style: italic;
					font-size: 23px;
					text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
					padding: 0 30px;
					@include small-device() {
						padding: 0;
					};
				}

				.address {
					font-weight: 400;
					margin-top: -5px;
				}

				.phone {
					margin-top: -5px;
					display: inline;
					padding: 2px 10px;
					border-radius: 50px;
					font-weight: 500;
					font-size: 10px;
					background: linear-gradient(0deg, #8a8a8a, #fff);
					box-shadow: 0 4px 10px rgba(0, 0, 0, .7);
					color: #000!important;
				}
			}
		}

		.bar-code {
			width: 50%;
			position: relative;
			z-index: 10;
		}

		.tabbar {
			margin: 0;
			width: 100%;
			border-radius: 0;
			background: white;
			border: 0;

			.tabbar__tab {
				color: #848c8e;
				font-size: 15px;
				padding: 10px;
				border-radius: 0!important;

				&.active {
					color: white;
				}
			}
		}

		.tab__content {
			&.active {
				display: flex;
				flex-direction: column;
			}
			flex: 1;
		}

		.leave-program {
			padding: 10px;
			text-align: center;
			color: red;
			font-weight: bold;
			background: rgba(255, 255, 255, 0.08);
			margin-top: auto;
		}

		.tab__content {
			h2 {
				color: #333;
				padding: 10px 15px 0;
				font-size: 14px;
			}
		}

		.details-holder {
			margin: 0;
			padding: 0;
			background: white;
			width: 100%;
			border-bottom: 1px solid #dfdfdf;
			border-top: 1px solid #dfdfdf;

			li {
				list-style: none;
				padding: 20px 0;
				margin-left: 30px;
				font-size: 14px;
				display: flex;
				align-items: center;
				color: #333;
				font-weight: 400;

				&:not(:last-child) {
					border-bottom: 1px solid #dfdfdf;
				}

				i {
					margin-left: -20px;
					margin-right: 10px;
				}

				&.spacer {
					border: none;
					background: rgb(225, 225, 225);
					border-bottom: 1px solid #dfdfdf;
					border-top: 1px solid #dfdfdf;
					margin-left: 0;

					&:after {
						content: "";
					}
				}

				&:after {
					content: "\f054";
					font-family: FontAwesome;
					font-size: 12px;
					color: #d1d1d1;
					margin-left: auto;
					margin-right: 10px;
				}
			}
		}

		.rewards {
			padding: 10px;
			color: #333;
			position: relative;
			z-index: 5;

			h1 {
				font-family: "Lato";
				font-style: italic;
				background: linear-gradient(#ececec, #8a8a8a);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				text-align: center;
				margin: 0 0 10px;
			}

			.reward {
				display: flex;
				padding: 0 10px;
				margin: 0 -10px;
				background: white;
				align-items: stretch;

				.points {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					font-size: 20px;
					color: #bec1bf;

					.amt {
						display: flex;
						flex-direction: column;
						text-align: center;
						font-weight: 400;

						span {
							font-weight: 100;
							font-size: 11px;
						}
					}

					i {
						display: none;
						margin-right: 10px;
					}

					&.locked {
						i {
							display: block;
						}
					}
				}

				.title {
					display: flex;
					align-items: center;
					flex: 1;
					padding: 20px 0;
					font-size: 15px;
					font-weight: 400;
					margin-left: 20px;

				}

				&:not(:last-child) {
					.title {
						border-bottom: 1px solid #dfdfdf;
					}
				}
			}
		}
	}
}
